 .dashboard-container {
     display: flex;
     justify-content: space-between;
     padding: 2rem;
     
 }

 .dashboard-button{
     padding: 4rem;
     background-color: rgba(0, 0, 0, 0.4);
     border-radius: 0.5rem;
     margin-right: 1rem;
     /* Add spacing between sections */
     transition: background-color 0.3s ease;
     /* Add smooth transition effect */
     cursor: pointer;
     /* Change cursor to pointer */
     border: none;
     color: white;
     font-size: 1rem;
 }

 .dashboard-button:hover {
     background-color: rgba(0, 0, 0, 0.6);
     /* Adjust hover color */
 }

 .dashboard-fonts {
    font-family: 'Nunito', sans-serif;
        font-size: 22px;
        color: #0e0d0d;
 }

 