@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');



* {
    margin: 0;
      padding: 0;
      outline: 0;
      appearance: 0;
      border: 0;
      text-decoration: none;
      box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #ffff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: rgb(4, 13, 18);
        background: linear-gradient(90deg, rgba(4, 13, 18, 1) 0%, rgba(24, 61, 61, 1) 73%, rgba(92, 131, 116, 1) 100%);
}


