@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');



* {
    margin: 0;
      padding: 0;
      outline: 0;
      appearance: 0;
      border: 0;
      text-decoration: none;
      box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #0e0d0d;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}


